.chats {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;

}

.chats .chatItems {
    color: white;
    text-decoration: none;
}

.messages {
    color: white;
}

.sendMSG{
    align-items: flex-end;
}
